:root{
  /* footer bg #222222 
  text footer #888888 */
  --color-bg-gray : #f6f6f6;
  --light-gray-bg-color:#d3d3d3;
  --color-red : #d4202b;
  --color-text-gray : #cdcdcd ;
  --color-star : #ece0b6;
  --border-color:rgb(105, 105, 105);
  --gray-text-color:rgb(46, 44, 44);
}
/************************************* Frame Work ************************************/
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img{width: 100%;}
a{text-decoration: none; color: #333;}
ul{list-style: none;}
/**************************************************************************************/
.container{
  width: 1170px;
  margin: 0 auto;
}
.gray-bg{
  background-color: var(--color-bg-gray);
}
.light-gray-bg{
  background-color: var(--light-gray-bg-color);
}
.red-bg{
  background-color: var(--color-red);
}
.text-white{color: #fff;}
.text-gray{color:var(--color-text-gray)}
.text-red{color:var(--color-red);}
.star-color{color:var(--color-star);}
.dark-gray-text-color{color:var(--gray-text-color);}

.center-el{margin: 0 auto;}

.column_1,.column_2,.column_3,.column_4,.column_5,.column_6,.column_7,
.column_8,.column_9,.column_10,.column_11,.column_12{
  position: relative;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.column_1{
  width: 8.33333333%;
}
.column_2{
  width: 16.66666667%;
  
}
.column_3{
  width: 25%;
  
}
.column_4{
  width: 33.333333%;
  
}
.column_5{
  width: 41.666667%;
  
}
.column_6{
  width: 50%;
}
.column_7{
  width: 20%;
}
.column_8{
  width: 66.66666667%;
}
.column_9{
  width: 75%;
}
.column_10{
  width: 83.33333333%;
}
.column_11{
  width: 91.66666667%;
}
.column_12{
  width: 100%;
}
/************************ Utilities **********************************/
.p-1{ padding: 16px; }
.p-2{ padding: 32px }
.p-3{ padding: 48px; }
.p-4{ padding: 64px; }
.p-5{ padding: 80px; }

.pt-1{ padding-top : 16px; }
.pt-2{ padding-top : 32px; }
.pt-3{ padding-top : 48px; }
.pt-4{ padding-top : 64px; }
.pt-5{ padding-top : 80px; }

.pb-1{ padding-bottom : 16px; }
.pb-2{ padding-bottom : 32px; }
.pb-3{ padding-bottom : 48px; }
.pb-4{ padding-bottom : 64px; }
.pb-5{ padding-bottom : 80px; }

.pr-1{ padding-right : 16px; }
.pr-2{ padding-right : 32px; }
.pr-3{ padding-right : 48px; }
.pr-4{ padding-right : 64px; }
.pr-5{ padding-right : 80px; }

.pl-1{ padding-left : 16px; }
.pl-2{ padding-left : 32px; }
.pl-3{ padding-left : 48px; }
.pl-4{ padding-left : 64px; }
.pl-5{ padding-left : 80px; }

.py-1{ padding : 16px 0; }
.py-2{ padding : 32px 0; }
.py-3{ padding : 48px 0; }
.py-4{ padding : 64px 0; }
.py-5{ padding : 80px 0; }

.px-1{ padding : 0 16px ; }
.px-2{ padding : 0 32px ; }
.px-3{ padding : 0 48px ; }
.px-4{ padding : 0 64px ; }
.px-5{ padding : 0 80px ; }

.m-1{ margin: 16px; }
.m-2{ margin: 32px; }
.m-3{ margin: 48px; }
.m-4{ margin: 64px; }
.m-5{ margin: 80px; }

.my-1{ margin : 16px 0; }
.my-2{ margin : 32px 0; }
.my-3{ margin : 48px 0; }
.my-4{ margin : 64px 0; }
.my-5{ margin : 80px 0; }

.mx-1{ margin : 0 16px ; }
.mx-2{ margin : 0 32px ; }
.mx-3{ margin : 0 48px ; }
.mx-4{ margin : 0 64px ; }
.mx-5{ margin : 0 80px ; }

.mt-1{ margin-top : 16px; }
.mt-2{ margin-top : 32px; }
.mt-3{ margin-top : 48px; }
.mt-4{ margin-top : 64px; }
.mt-5{ margin-top : 80px; }

.mb-1{ margin-bottom : 16px; }
.mb-2{ margin-bottom : 32px; }
.mb-3{ margin-bottom : 48px; }
.mb-4{ margin-bottom : 64px; }
.mb-5{ margin-bottom : 80px; }

.mr-1{ margin-right : 16px; }
.mr-2{ margin-right : 32px; }
.mr-3{ margin-right : 48px; }
.mr-4{ margin-right : 64px; }
.mr-5{ margin-right : 80px; }

.ml-1{ margin-left : 16px; }
.ml-2{ margin-left : 32px; }
.ml-3{ margin-left : 48px; }
.ml-4{ margin-left : 64px; }
.ml-5{ margin-left : 80px; }

.font-1{font-size: 16px;}
.font-2{font-size: 32px;}
.font-3{font-size: 48px;}
.font-4{font-size: 64px;}

.border{border: 1px solid var(--border-color);}
.border-top{border-top: 1px solid var(--border-color);}
.border-right{border-right: 1px solid var(--border-color);}
.border-bottom{border-bottom: 1px solid var(--border-color);}
.border-left{border-left: 1px solid var(--border-color);}

.rounded{border-radius: 4px ;}
.rounded-circle{border-radius:50% ;}
.rounded-0{border-radius: 0 ;}

.clear-float{clear: both;}
.float-left{float: left;}
.float-right{float: right;}
.clear-float-left{clear: left;}
.clear-float-right{clear: right;}

.display-n{display: none;}
.display-b{display: block;}
.display-ib{display: inline-block;}
.display-i{display: inline;}

.w-100{width: 100%;}

.overline-text-decoration{text-decoration: overline;}
.linethrough-text-decoration{text-decoration: line-through;}
.underline-text-decoration{text-decoration: underline;}

/********************************* Property Name ************************/
.over-h{overflow: hidden;}
.position-relative{position: relative;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-uppercase{text-transform: uppercase;}
.text-capitalize{text-transform: capitalize ;}

.font-weight-normal{font-weight: normal;}
.font-weight-bold{font-weight: bold;}
.font-weight-bolder{font-weight: bolder;}

/********************************** component ***************************/
.btn{
  display: inline-block;
  padding: 9px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn .btn-design{
  border: 1px solid var(--color-red);
}


.indicators ul li{
  border-radius: 50%;
  color: #333;
  background: #000;
  width: 13px;
  float: left;
  cursor: pointer;
  height: 10px;
  padding-right: 7px;
  margin: 0 5px 0 15px;
}
.indicators ul li.active{
  
}
.indicators ul li:hover{
  
}

